/*TABELA DE CORES*/
/*
PRETO: #26161F
AZUL ESCURO: #049DD9
AMARELO: #F2D64B
BEJE: #F2B544
*/

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
}

/*PADRONIZAÇÃO DE ELEMENTOS E CLASSES*/

.background{
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.conteudo{
  height: inherit;
}

section, .section{
  width: inherit;
  min-height: 50px;
  height: auto;
  overflow: hidden;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3{
  padding: 30px 0px;
  box-sizing: border-box;
}

.fundo_escuro{
  background-color: #26161F;
  color: white;
}

.fundo_beje{
  background-color: #DB8D32;
  color: white;
}

.fundo_azul_escuro{
  background-color: #049DD9;
  color: white;
}

/*********HOME*********/
#background_abertura{
  background-image: url("../img/abertura_intro.jpg");
  width: 100%;
  height: 400px;
}

/*MENU*/

nav{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 300;
  background-color: black;
}

#menu{
  margin: 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.menu_item{
  width: auto;
  height: auto;
  list-style: none;
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  margin-left: 20px;
}

.menu_item a {
  color: #F2B544;
  font-size: 20px;
  transition: 1s;
  text-decoration: none;
}

.menu_item a: hover{
  font-size: 22px;
  transition: 1s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*DEFINIÇÃO*/
#setor_definicao{
  height: auto;
  width: 100%;
}

.conteudo_definicao{
  width: inherit;
  height: 430px;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.definicao_texto{
  height: inherit;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 50px 0px 50px;
  box-sizing: border-box;
}

.definicao_texto p{
  font-size: 18px;
  text-align: center;
}

.definicao_imagem{
  height: auto;
  width: 40%;
}

.definicao_imagem img{
  width: 100%;
  height: inherit;
}

.conteudo_circular{
  border-radius: 250px;
}

#descricao_tipos{
  padding-top: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#descricao_tipos p{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/*ESTATÍSTICAS*/
#banner_estatisticas{
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/dados_famisafe.png");
}

.conteudo_estatistica_graficos{
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 20px 0px;
  box-sizing: border-box;
}

.estatistica_grafico{
  width: 45%;
  height: inherit;
}

.estatistica_grafico img{
  width: 100%;
  height: auto;
}

/*QUIZ*/
#setor_quiz{
  height: 550px;
}

#banner_quiz{
  background-image: url("../img/banner_quiz.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 550px;
  width: 100%;
}